//- footer.footer(role='contentinfo')
//-   .footer-middle
//-     .container
//-       .row
//-         .col-lg-1.footer-logo-sub
//-           .logo-footer
//-             a
//-               img(src=`${STATIC_URL}img/logo.png` width="120" height="61" alt="Best Security" class='img-fluid')
//-         .col-lg-3.footer-direccion
//-           p Jr. Carlos Baca Flor 709 Of. 302<br>  Santiago de Surco, Lima - Perú.
//-           a(href='tel:5115123100') (511) 512 - 3100
//-         .col-lg-2.footer-ctn-sub
//-           // Column1
//-           .footer-pad
//-              h4 Mapa de sitio
//-              ul
//-               li 
//-                  a(href='nosotros.html') Nosotros
//-               li 
//-                  a(href='productos.html') Productos
//-               li 
//-                  a(href='soporte.html') Soporte
//-               li 
//-                  a(href='promociones.html') Promociones
//-               li 
//-                  a(href='distribuidores.html') Distribuidores
//-         .col-lg-2.footer-ctn-sub
//-           // Column1
//-           .footer-pad
//-             h4 Servicio al cliente
//-             ul
//-               li 
//-                  a(href='contacto.html') Contacto
//-               li 
//-                  a(href='productos.html') Preguntas Frecuentes
//-               li 
//-                  a(href='soporte.html') Políticas comerciales
//-               .listado-precio-footer
//-                 a(href='distribuidores.html') Listado de Precio
//-         .col-lg-3
//-           // Column1
//-           .footer-pad
//-             h4 Herramientas
//-             ul
//-               li 
//-                  a(href='#') Calculadora de Lente
//-               li 
//-                  a(href='#') Calculadora de Disco Duro
//-               li 
//-                  a(href='#') Educación para Técnicos
//-         .col-lg-1.footer-redes
//-           ul
//-             li 
//-                 a(href='#', class='icon-facebook')
//-             li
//-               a(href='#', class='icon-youtube')
//-             li
//-               a(href='#', class='icon-twitter')
//-             li
//-               a(href='#', class='icon-wts')
//-   .footer-bottom
//-     .container
//-       .row
//-         .col-lg-6
//-            p © 2017  Best Security. Todos los derechos reservados.
//-         .col-lg-6.creditos-right
//-            p Diseño de páginas web: 
//-             a(href='https://www.staffdigital.pe/', target='_blank') Staff Digital