header
	.header__content
		.header__fixed__left
			.header__fixed__wrapper
				.header__logo
					img(src=`${STATIC_URL}img/logo-header.png`, alt="")
				.header__logo__responsive
					img(src=`${STATIC_URL}img/logo-header-responsive.png`, alt="")
				ul.header__item__box
					li.header__item.active
						.header__item__menu
							a(href="promociones.html").header__item__ancla
								span.icon-carrito.icono__menu
								span.header__link PROMOCIONES
					li.header__item
						a(href="ajustes.html").header__item__ancla
							span.icon-tuerca.icono__menu
							span.header__link AJUSTES
					li.header__item.header__salir
						a(href="").header__item__ancla
							span.icon-logout.icono__menu
							span.header__link SALIR

//- header menu responsive
//- .menu-mobile-open.icon-menu
//- .menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt