extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/jqueryValidation/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.ajustes
		.ajustes__header__content
			.ajustes__header__box
				.ajustes__box-barra1.ajustes__box-barra--no-border
					.ajustes__box-barra__title__left
					.ajustes__box-barra__barra--right
							ul
								li
									a.btn.btn-enlace.btn-orange.ajustes--margintop( href='/nueva-promocion.html') CREAR PROMOCIÓN
								li.ajustes--img-logo-header(style=`background-image: url('${STATIC_URL}img/logo-sonesta.jpg');`)
		.ajustes__content
			.ajustes__box__middle
				form#form_ajustes
					.ajustes__box-barra1
						.ajustes__box-barra__title__left
							p Actualiza tus datos
						.ajustes__box-barra__barra--right
							ul
								li
									a.btn.btn-enlace.btn-white( href='/cambiar-contraseña.html') CAMBIAR CONTRASEÑA
								li
									input.btn.btn-enlace.btn-skyblue( type='submit', value="GUARDAR")
					.ajustes__box-barra2.ajustes__box--margin-top-26
						.ajustes__box__title
							p Información básica
						.ajustes__box__linear.ajustes__box__linear--left
						.ajustes__box__content
							.ajustes__box__content--ul.ajustes__box__content--ul-width
								ul
									li Logotipo
										.ajustes__box--sube-tu-logo
											.r-file.r-file2
												input#file-input(type='file' multiple)
												label(for='file-input')
													.caja-padre
														.file-input-table
															span.file-icon.icon-subir
															.file-text
																p
																	strong Sube tu logotípo
																	span Altura 94px
															.file-ruta
							.ajustes__box__content--ul
								ul.ajustes__box__content--ul-padding-rigth
									li.ajustes--li
										label.ajustes--label Empresa*
										input.input__grey(type="text", name="empresa", class="validate[required]")

									li.ajustes--li 
										label.ajustes--label Teléfonos*
										input.input__grey(type="text", name="telefono", class="validate[required]")
										
									li.ajustes--li 
										label.ajustes--label Nombre de contacto*
										input.input__grey(type="text", name="nombre_contacto", class="validate[required]")
										
									li.ajustes--li 
										label.ajustes--label Página web o Facebook*
										input.input__grey(type="text", name="web-facebook", class="validate[required]")
										
							.ajustes__box__content--ul
								ul
									li.ajustes--li
										label.ajustes--label Nombre Comercial*
										input.input__grey(type="text", name="nombre_comercial", class="validate[required]")

									li.ajustes--li
										label.ajustes--label RUC*
										input.input__grey(type="text", name="ruc", class="validate[required]")

									li.ajustes--li 
										label.ajustes--label E-mail*
										input.input__grey(type="email", name="email", class="validate[required]")

									li.ajustes--li 
										label.ajustes--label Cargo*
										input.input__grey(type="text", name="cargo", class="validate[required]")
										
					//- .ajustes__box-barra2.ajustes__box--margin-top-26
					//- 	.ajustes__box__title
					//- 		p Cambiar contraseña
					//- 	.ajustes__box__linear.ajustes__box__linear--left
					//- 	.ajustes__box__content
					//- 		.ajustes__box__content--ul-3
					//- 			ul.ajustes__ul--display-inline
					//- 				li.ajustes--li.ajustes--li--width-full
					//- 					label.ajustes--label Contraseña actual*
					//- 					input.input__grey(type="password", name="empresa", class="validate[required]")
										
					//- 				li.ajustes--li.ajustes--li--width-full 
					//- 					label.ajustes--label Nueva contraseña*
					//- 					input.input__grey(type="password", name="telefono", class="validate[required]")
										
					//- 				li.ajustes--li.ajustes--li--width-full 
					//- 					label.ajustes--label Repetir contraseña*
					//- 					input.input__grey(type="password", name="nombre_contacto", class="validate[required]")
										

						
//- js
append scripts 
	script(src=`${STATIC_URL}js/jqueryValidation/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/jqueryValidation/jquery.validationEngine.js`)
	script.
		$(()=>{
			$('#form_ajustes').validationEngine({promptPosition : "topLeft", scroll: false});
		})