extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/jqueryValidation/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	form.contrasena-cambio#form_contrasena
		.nueva-promocion__content.contrasena__promocion
			.nueva-promocion__box-barra1.nueva-promocion__box--margin-top-26.nueva-promocion--flex
				.nueva-promocion__title__left.box-barra__title__left.box-barra__title__left--padding
					p Cambiar contraseña
				.nueva-promocion__iconos--margin-left

					ul.nueva-promocion--ul
						li
							a.btn.btn-enlace.btn-orange( href='/ajustes.html') REGRESAR A AJUSTES
						li
							input.btn.btn-enlace.btn-skyblue( type='submit', value="GUARDAR")
		.ajustes__box-barra2.ajustes__box--margin-top-26
			.ajustes__box__linear.ajustes__box__linear--left
			.ajustes__box__content
				.ajustes__box__content--ul-3
					ul.ajustes__ul--display-inline
						li.ajustes--li.ajustes--li--width-full
							label.ajustes--label Contraseña actual*
							input.input__grey(type="password", name="empresa", class="validate[required]")
						li.ajustes--li.ajustes--li--width-full
							label.ajustes--label Nueva contraseña*
							input.input__grey(type="password", name="telefono", class="validate[required]")
						li.ajustes--li.ajustes--li--width-full
							label.ajustes--label Repetir contraseña*
							input.input__grey(type="password", name="nombre_contacto", class="validate[required]")
//- js
append scripts
	script(src=`${STATIC_URL}js/jqueryValidation/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/jqueryValidation/jquery.validationEngine.js`)
	script.
		$(()=>{
			$('#form_contrasena').validationEngine({promptPosition : "topLeft", scroll: false});
		})