extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'header__no__menu'
//- ---

//- Contenido
block content
	section.promotion__banner
		.promotion__banner__main
			.promotion__banner__image
				figure.promotion__banner__image__container(style=`background-image: url('${STATIC_URL}img/promotion__banner.jpg')`)
			article.promotion__banner__info
				.promotion__banner__info__container
					.promotion__banner__info__wrap
						.promotion__banner__info__title
							h2 Posadas del Inca Yucay
						.promotion__banner__info__description
							p 30% de Descuento  en el Almuerzo Buffet Criollo Marino y Cena Peruana a la Carta.
		.promotion__banner__block
			.promotion__banner__block__content
				.promotion__banner__block__wrap
					.promotion__banner__block__logo
						figure.promotion__banner__block__logo__container
							img(src=`${STATIC_URL}img/promotion__banner__logo.jpg`, width="210", height="42", alt="")
					.promotion__banner__block__circle
						span.promotion__banner__block__circle__text 30%	
	section.promotion__gallery
		.promotion__gallery__content
			article.promotion__gallery__info
				.promotion__gallery__responsive
				.promotion__gallery__list
					ul
						li.promotion__gallery__list__item
							a.promotion__gallery__list__box(href="tel:5116104151")
								span.promotion__gallery__list__icon.icon-cel
								span.promotion__gallery__list__text (511) 610-41-51
						li.promotion__gallery__list__item
							a.promotion__gallery__list__box(href="mailto:reservas@costadelsol.pe")
								span.promotion__gallery__list__icon.promotion__gallery__list__icon--email.icon-correo
								span.promotion__gallery__list__text reservas@costadelsol.pe
						li.promotion__gallery__list__item
							a.promotion__gallery__list__box(href="https://costadelsol.pe", target="_blank")
								span.promotion__gallery__list__icon.icon-mundo
								span.promotion__gallery__list__text costadelsol.pe
				.promotion__gallery__box
					ul
						li.promotion__gallery__box__item
							.promotion__gallery__box__wrap
								.promotion__gallery__box__title
									span.promotion__gallery__box__title__icon.icon-pin
									.promotion__gallery__box__title__text
										h3 Ubicación
								.promotion__gallery__box__description
									p Calle Chinchón 938, San isidro
						li.promotion__gallery__box__item
							.promotion__gallery__box__wrap
								.promotion__gallery__box__title
									span.promotion__gallery__box__title__icon.icon-reloj
									.promotion__gallery__box__title__text
										h3 Vigencia
								.promotion__gallery__box__description
									p Desde el 15 de Junio de 2016 hasta el 31 de Enero de 2018
				.promotion__gallery__share
					span.promotion__gallery__share__text Compártelo en
					ul.promotion__gallery__share__items
						li.promotion__gallery__share__item
							a(href="").promotion__gallery__share__icon.icon-social-facebook
						li.promotion__gallery__share__item
							a(href="").promotion__gallery__share__icon.icon-youtube
						li.promotion__gallery__share__item
							a(href="").promotion__gallery__share__icon.icon-social-twitter
			.promotion__gallery__slider
				ul.promotion__gallery__pitcher
					-for (var i = 0; i < 2; i++)
						li.promotion__gallery__slider__item
							figure.promotion__gallery__slider__image
								img(src=`${STATIC_URL}img/promotion__galeria__img--1.jpg`, width="681", height="421", alt="")
	section.promocion__detail__wrap
		.promocion__detail__container
			.promocion__detail__description
				.promocion__detail__description__item
					.promocion__detail__subtitle
						span.promocion__detail__icon.promocion__detail--icon1.icon-agenda
						h3 Descripcion
					.promocion__detail__text
						p Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
				.promocion__detail__description__item
					.promocion__detail__subtitle
						span.promocion__detail__icon.promocion__detail--icon2.icon-terminos
						h3 Téminos y condiciones legales
					.promocion__detail__text
						p Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
			.promocion__detail__map
				.map__general__container__box
					a.btn.btn-enlace.btn-orange.map__general--open--map( href='') ABRIR MAPA
					.map__general__box
						.map#google-maplima
						a.btn.btn-enlace.btn-orange.map__general--close--map( href='') CERRAR MAPA
	section.promocion__descuentos__wrap
		.promocion__descuentos__container
			.promociones__subtitle
				h3 Descuentos relacionados
			.promociones__slider
				ul.promociones__slider--pitcher
					-for (var i = 1; i <= 6; i++)
						li.promociones__slider__item
							a.promociones__item(href="#")
								.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
								.promociones__item__content
									//- .promociones__item__discount--text
									//- .promociones__item__discount--offer
									.promociones__item__discount.promociones__item__discount--percentage
										.promociones__item__discount__logo
											img(src=`${STATIC_URL}img/item-logo.png`, alt="")
										.promociones__item__discount__promo 35%
									.promociones__item__info
										.promociones__item__title
											h3 Posadas del inca Yucay
										.promociones__item__text
											p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
										.promociones__item__button
											span.btn-enlace.btn-orange LIMA - PERÚ
//- ---

//- js
append scripts
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
			//- clone element banner
			$('.promotion__banner__block__logo__container').clone().appendTo('.promotion__gallery__responsive').removeClass('promotion__banner__block__logo__container').addClass('promotion__gallery__responsive__image');
			$('.promotion__banner__block__circle__text').clone().appendTo('.promotion__gallery__responsive').removeClass('promotion__banner__block__circle__text').addClass('promotion__gallery__responsive__text');
			
			//- slider slik
			$('.promotion__gallery__pitcher').slick({
				autoplay: true,
				autoplaySpeed: 4000,
				slidesToShow: 1,
				slidesToScroll: 1,
				dots: false
			});
			
			//- mapa
			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);
				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map
					//- icon:"{{STATIC_URL}}img/pin.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".map__general--open--map").click(function(event) {
				event.preventDefault();
				$(".map__general__box").addClass('active');
			});
			$(".map__general--close--map").click(function(event) {
				event.preventDefault();
				$(".map__general__box").removeClass('active');
			});
			
			//- slider
			$('.promociones__slider--pitcher').slick({
				slidesToShow: 4,
				slidesToScroll: 1,
				infinite: true,
				autoplay: false,
				arrows: true,
				 responsive: [
					{
						breakpoint: 1200,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 960,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});			
		})
//- ---