extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.promocion__detail__wrap
		.promocion__detail__container
			.promocion__detail__description
				.promocion__detail__description__item
					.promocion__detail__subtitle
						span.promocion__detail__icon.promocion__detail--icon1.icon-agenda
						h3 Descripcion
					.promocion__detail__text
						p Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
				.promocion__detail__description__item
					.promocion__detail__subtitle
						span.promocion__detail__icon.promocion__detail--icon2.icon-terminos
						h3 Téminos y condiciones legales
					.promocion__detail__text
						p Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
						Primax cuenta con la más importante red de estaciones de servicio de venta de combustibles, lubricantes Shell y tiendas por conveniencia Listo! en el Perú y Ecuador. La calidad de los combustibles y la variedad de productos y servicios que ofrecen conforman una propuesta que busca facilitar la vida de sus clientes
			.promocion__detail__map
				.map__general__container__box
					a.btn.btn-enlace.btn-orange.map__general--open--map( href='') ABRIR MAPA
					.map__general__box
						.map#google-maplima
						a.btn.btn-enlace.btn-orange.map__general--close--map( href='') CERRAR MAPA

	section.promocion__descuentos__wrap
		.promocion__descuentos__container
			.promociones__subtitle
				h3 Descuentos relacionados
			.promociones__slider
				ul.promociones__slider--pitcher
					-for (var i = 1; i <= 6; i++)
						li.promociones__slider__item
							a.promociones__item(href="#")
								.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
								.promociones__item__content
									//- .promociones__item__discount--text
									//- .promociones__item__discount--offer
									.promociones__item__discount.promociones__item__discount--percentage
										.promociones__item__discount__logo
											img(src=`${STATIC_URL}img/item-logo.png`, alt="")
										.promociones__item__discount__promo 35%
									.promociones__item__info
										.promociones__item__title
											h3 Posadas del inca Yucay
										.promociones__item__text
											p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.

//- js
append scripts
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);
				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"{{STATIC_URL}}img/b21img.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".map__general--open--map").click(function(event) {
				event.preventDefault();
				$(".map__general__box").addClass('active');
			});
			$(".map__general--close--map").click(function(event) {
				event.preventDefault();
				$(".map__general__box").removeClass('active');
			});


			$('.promociones__slider--pitcher').slick({
				slidesToShow: 4,
				slidesToScroll: 1,
				infinite: true,
				autoplay: false,
				arrows: true,
				 responsive: [
					{
						breakpoint: 1200,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 960,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
		});