extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
	link(rel="stylesheet", href=`${STATIC_URL}js/jqueryValidation/validationEngine.jquery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/select2/select2.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/tooltipster-master/tooltipster.bundle.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/tooltipster-master/tooltipster-sideTip-light.min.css`)
	link(href=`${STATIC_URL}css/font-awesome.min.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	form.nueva-promocion#form_nueva_promocion
		.nueva-promocion__header__content
			.nueva-promocion__header__box
				.nueva-promocion__box-barra1.nueva-promocion__box-barra--no-border.nueva-promocion--flex
					.box-barra__title__left
					.nueva-promocion__barra--right
							ul
								li
									//- a.btn.btn-enlace.btn-orange.nueva-promocion--margintop( href='') CREAR PROMOCIÓN
								li
									.nueva-promocion--img-logo-header(style=`background-image: url('${STATIC_URL}img/logo-sonesta.jpg');`)
			.nueva-promocion__box__mensaje.nueva-promocion__box__mensaje--green
				p
					| Promoción Duplicada 
		.nueva-promocion__content
			.nueva-promocion__box-barra1.nueva-promocion__box--margin-top-26.nueva-promocion--flex
				.nueva-promocion__title__left.box-barra__title__left.box-barra__title__left--padding
					p Editar promoción
				
				.nueva-promocion__iconos--margin-left
					ul.nueva-promocion--ul
						li(title="Previsualizar").tooltips.box-icon__detalles.icon-mundo#previewWeb
						li(title="Eliminar").tooltips.box-icon__detalles.icon-eliminar
						li(title="Nuevo").tooltips.box-icon__detalles.icon-cuadros
						li.btn.btn-enlace.btn-skyblue( href='') GUARDAR

			.nueva-promocion__box-barra1.nueva-promocion__box--margin-top-26
				.nueva-promocion__content-input-contrasena
					ul
						li 
							label.box-barra__title__left Descripción corta de portada
							input.input__grey(type="text", name="empresa", placeholder='Escribe aquí el resumen de tu promoción en 80 carácteres', class="validate[required]")
						li 
							label.box-barra__title__left Promoción
							input.input__grey(type="text", name="telefono", placeholder='Ejm: 2x1, 50% de descuento, gratis, etc', class="validate[required]")
			.nueva-promocion__content__boxes.nueva-promocion__box--margin-top-26
				.nueva-promocion__box-left--categoria
					.nueva-promocion__box-barra1
						ul.nueva-promocion__categoria-ul.nueva__promocion__change
							li
								span.box-barra__title__left Categoría
								.nueva__promocion__inside__select
									.icon-lupa.icon-cel--modificador.nueva-promocion__categoria--icon-top
									select.select--select2(name="")
										option(value="") categoria1
										option(value="") categoria2
										option(value="") categoria3
							li
								span.box-barra__title__left País
								.nueva__promocion__inside__select
									.icon-lupa.icon-cel--modificador.nueva-promocion__categoria--icon-top
									select.select--select2(name="")
										option(value="") Pais1
										option(value="") Pais2
										option(value="") Pais3
							li
								span.box-barra__title__left Ciudad
								.nueva__promocion__inside__select
									.icon-lupa.icon-cel--modificador.nueva-promocion__categoria--icon-top
									select.select--select2(name="")
										option(value="") Ciudad1
										option(value="") Ciudad2
										option(value="") Ciudad3
							li
								.tooltip#tooltip_content hola
								.tooltip_templates
									#tooltip_content hola. hover
					
					.nueva-promocion__box-barra1.nueva-promocion__box--margin-top-26
						ul.nueva-promocion__categoria-ul
							li
								span.box-barra__title__left Teléfono de contacto
								.icon-cel.icon-cel--modificador.nueva-promocion__categoria--icon-top
								input.input__white(name='', type='', placeholder='')
							li
								span.box-barra__title__left Mail de contacto
								.icon-correo.icon-cel--modificador.nueva-promocion__categoria--icon-top.nueva-promocion--icon-height
								input.input__white(name='', type='', placeholder='')
							li
								span.box-barra__title__left Página web
								.icon-mundo.icon-cel--modificador.nueva-promocion__categoria--icon-top
								input.input__white(name='', type='', placeholder='')
							li
								span.box-barra__title__left.nueva-promocion--display-block Vigencia
								.nueva-promocion__calendar-group
									.nueva-promocion__calendar-input-group
										.icon-calendario.icon-cel--modificador.nueva-promocion__categoria--icon-top.nueva-promocion--icon-calendar
										input.datepicker.input__white.input__white--calendar.input--width-calendar.input--calendar-padding-cero(name='', type='text', placeholder='')

									.nueva-promocion__calendar-input-group.nueva-promocion__calendar-input-padding-lef
										.icon-calendario.icon-cel--modificador.nueva-promocion__categoria--icon-top.nueva-promocion--icon-calendar
										input.datepicker.input__white.input__white--calendar.input--width-calendar.input--calendar-padding-cero(name='', type='text', placeholder='')
							li
								span.box-barra__title__left Ubicación
								.icon-pin.icon-cel--modificador.nueva-promocion__categoria--icon-top
								input.input__white(id="pac-input" class="controls" type="text")
							li
								.nueva-promocion__box-mapa-ubicacion
									.mapcontacto
										.map#map

				.nueva-promocion__box-right--imagenes
					.nueva-promocion__box-barra1.nueva-promocion--span-line
						p.box-barra__title__left Imágenes y Videos
						.nueva-promocion__box-left__imagenes-agregar
							p.box-barra__title__left Agregar imágenes
							//- subir img
							.col.n-12
								.r-file.r-file2
									input#file-input(type='file' multiple)
									label(for='file-input')
										.caja-padre
											.file-input-table
												span.file-icon.icon-subir
												.file-text
													p
														strong Subir imágenes
														| o arrastre la imagen para subir
														span 680px x 480px
												.file-ruta

						.nueva-promocion__box-right__video-agregar
							ul
								li.box-barra__title__left Agregar video
								li
									select.input__white.input--calendar-padding-cero#selectVideo
										option(value='') Seleccione una plataforma
										option(value='youtube') YOUTUBE
										//- option(value='vimeo') VIMEO
									//- .btn.btn-enlace.btn-grey.nueva-promocion--btn-box-sizing-full( href='') YOUTUBE
								li.video-disable
									input.input__grey(type="text", name="empresa", placeholder='https://www.youtube.com/watch', class="validate[required]")
								li.btn.btn-enlace.btn-skyblue.video-disable.video-agregar AGREGAR
						.nueva-promocion__box-right__box-ordenar.nueva-promocion__box-right--span-line-ordenar
							p.box-barra__title__left.nueva-promocion__box-right--padding-top Ordenar
							.nueva-promocion__box-right-ordenar-content-img-video
								//- .nueva-promocion__box-right-ordenar-img-principal(style=`background-image: url(${STATIC_URL}img/img-box-right-ordenar-principal.jpg)`)

								.nueva-promocion__box-right-ordenar-content-group
									ul#sortable
										//- li.nueva-promocion__box-left-ordenar-img.sortable__hover.sortable__hover--video(style=`background-image: url(${STATIC_URL}img/img-box-right-ordenar-principal.jpg)`)
										//- li.nueva-promocion__box-right-ordenar-img(style=`background-image: url(${STATIC_URL}img/img-box-right-ordenar1.jpg)`)
										//- li.nueva-promocion__box-right-ordenar-img(style=`background-image: url(${STATIC_URL}img/img-box-right-ordenar2.jpg)`)
										//- li.nueva-promocion__box-right-ordenar-img(style=`background-image: url(${STATIC_URL}img/img-box-right-ordenar3.jpg)`)
										//- li.nueva-promocion__box-right-ordenar-img(style=`background-image: url(${STATIC_URL}img/img-box-right-ordenar4.jpg)`)
										//- li.nueva-promocion__box-right-ordenar-img(style=`background-image: url(${STATIC_URL}img/img-box-right-ordenar5.jpg)`)
										//- li.nueva-promocion__box-right-ordenar-img(style=`background-image: url(${STATIC_URL}img/img-box-right-ordenar6.jpg)`)
					.nueva-promocion__box-barra1.nueva-promocion__box--margin-top-26
						.nueva-promocion__title__left.box-barra__title__left.box-barra__title__left--padding
							p
								| Descripción completa de la promoción
							textarea.textarea.nueva-promocion__box--margin-top-26(name='', type='', placeholder='Escribe aquí toda la descripción de la promoción')
					.nueva-promocion__box-barra1.nueva-promocion__box--margin-top-26
						.nueva-promocion__title__left.box-barra__title__left.box-barra__title__left--padding
							p
								| Términos y condiciones legales
							textarea.textarea.nueva-promocion__box--margin-top-26(name='', type='', placeholder='')


//- js
append scripts
	script(src='https://code.jquery.com/jquery-1.12.4.js')
	script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
	script(src=`${STATIC_URL}js/jquery.sticky-kit.min.js`)
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src=`${STATIC_URL}js/jqueryValidation/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/jqueryValidation/jquery.validationEngine.js`)
	script(src=`${STATIC_URL}js/select2/select2.full.js`)
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js")
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js")
	script(src=`${STATIC_URL}js/froala_editor.min.js`)
	script(src=`${STATIC_URL}js/plugins/align.min.js`)
	script(src=`${STATIC_URL}js/tooltipster-master/tooltipster.bundle.min.js`)
	script.
		function initAutocomplete() {
			var latlng = new google.maps.LatLng(39.305, -76.617);
			var map = new google.maps.Map(document.getElementById('map'), {
				center: latlng,
				zoom: 13,
				mapTypeId: 'roadmap'
			});

			// Create the search box and link it to the UI element.
			var input = document.getElementById('pac-input');
			var searchBox = new google.maps.places.SearchBox(input);
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

			// Bias the SearchBox results towards current map's viewport.
			map.addListener('bounds_changed', function() {
				searchBox.setBounds(map.getBounds());
			});

			var markers = [];
			// Listen for the event fired when the user selects a prediction and retrieve
			// more details for that place.
			searchBox.addListener('places_changed', function() {
				var places = searchBox.getPlaces();

				if (places.length == 0) {
					return;
				}

				// Clear out the old markers.
				markers.forEach(function(marker) {
					marker.setMap(null);
				});
				markers = [];

				// For each place, get the icon, name and location.
				var bounds = new google.maps.LatLngBounds();
				places.forEach(function(place) {
					if (!place.geometry) {
						console.log("Returned place contains no geometry");
						return;
					}
					var icon = {
						url: place.icon,
						size: new google.maps.Size(71, 71),
						origin: new google.maps.Point(0, 0),
						anchor: new google.maps.Point(17, 34),
						scaledSize: new google.maps.Size(25, 25)
					};

					// Create a marker for each place.
					markers.push(new google.maps.Marker({
						map: map,
						icon: icon,
						title: place.name,
						position: place.geometry.location
					}));

					if (place.geometry.viewport) {
						// Only geocodes have viewport.
						bounds.union(place.geometry.viewport);
					} else {
						bounds.extend(place.geometry.location);
					}
				});
				map.fitBounds(bounds);
			});
		}



		$(()=>{
			$('textarea').froalaEditor();

			//- tooltip
			 $('.tooltips').tooltipster({
				animation: 'fade',
				delay: 100,
				theme: 'tooltipster-light'
			});

			//- select
			$(".select--select2").select2();
			

			//- map

		
			//- initAutocomplete();
			$('#form_nueva_promocion').validationEngine({promptPosition : "topLeft", scroll: false});
			//--- Jquery Datepicker Spanish
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '<Ant',
				nextText: 'Sig>',
				currentText: 'Hoy',
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
				dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
				dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
				weekHeader: 'Sm',
				dateFormat: 'dd/mm/yy',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''
			};
			$.datepicker.setDefaults($.datepicker.regional['es']);

			$( ".datepicker" ).datepicker({
				numberOfMonths: 1,
				//- showButtonPanel: true,
				//- showOn: "both",
				//- // buttonImage: "{{ STATIC_URL }}img/icon-flecha-down.png",
				//- buttonImageOnly: true,
				//- //- buttonText: "Select date"
			});


			//- xavi
			//- gallery
			const galleryTemplate = `<li class="nueva-promocion__box-right-ordenar-img" style="background-image: url({{imgPreview}})"></li>`

			$('#file-input').change((e) => {
				if (e.target.files && e.target.files[0]) {
					for(var i = 0; i < e.target.files.length; i++){
						var reader = new FileReader();
						reader.readAsDataURL(e.target.files[i]);
						reader.onload = function (ele) {
							$('.nueva-promocion__box-right-ordenar-content-group ul').append(galleryTemplate.replace('{{imgPreview}}', ele.target.result))
							reloadSortable();
						}
					}
				}
			})

			const reloadSortable = () => {
				$( "#sortable" ).sortable({
					placeholder: "ui-state-highlight"
				});
				//- $( "#sortable" ).disableSelection();
			}
			//- video
			var typeVideo;
			const splitYoutube = (link) => {
				let video_id = link.split('v=')[1];
				let ampersandPosition = video_id.indexOf('&');
				if(ampersandPosition != -1) {
					video_id = video_id.substring(0, ampersandPosition);
				}
				return video_id;
			}
			$('#selectVideo').change((e) => {
				if(e.target.selectedIndex){
					$('.video-disable').addClass('video-enable').removeClass('video-disable');
					switch ($(e.target).find('option').eq(e.target.selectedIndex).val()) {
						case 'youtube':
							typeVideo = "youtube";
							break;
						default:
							typeVideo = "vimeo";
							break;
					}
				}else{
					$('.video-enable').addClass('video-disable').removeClass('video-enable')
				}
			})
			$('.video-agregar').click(() => {
				switch (typeVideo) {
					case 'youtube':
						let linkVideo = splitYoutube($('.video-enable').find('input').val());
							$('.nueva-promocion__box-right-ordenar-content-group ul').append(galleryTemplate.replace('{{imgPreview}}', `https://i.ytimg.com/vi_webp/${linkVideo}/hqdefault.webp`))
							reloadSortable();
						break;
					default:
						break;
				}

			})

			//- preview web
			$('#previewWeb').click(() => {
				window.open("http://localhost:8080/detalle-promocion.html", "_blank", "fullscreen=yes");
			})


		})

	script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyDgu2iCN5bGHmRoJsXN7Z34wOzziGUBE70&libraries=places&callback=initAutocomplete`, async defer)