extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.promotion__banner
		.promotion__banner__main
			.promotion__banner__image
				figure.promotion__banner__image__container(style=`background-image: url('${STATIC_URL}img/promotion__banner.jpg')`)
			article.promotion__banner__info
				.promotion__banner__info__container
					.promotion__banner__info__wrap
						.promotion__banner__info__title
							h2 Posadas del Inca Yucay
						.promotion__banner__info__description
							p 30% de Descuento  en el Almuerzo Buffet Criollo Marino y Cena Peruana a la Carta.
		.promotion__banner__block
			.promotion__banner__block__content
				.promotion__banner__block__wrap
					.promotion__banner__block__logo
						figure.promotion__banner__block__logo__container
							img(src=`${STATIC_URL}img/promotion__banner__logo.jpg`, width="210", height="42", alt="")
					.promotion__banner__block__circle
						span.promotion__banner__block__circle__text 30%

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})