extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.promotion__banner
		.promotion__banner__main
			.promotion__banner__image
				figure.promotion__banner__image__container(style=`background-image: url('${STATIC_URL}img/promotion__banner.jpg')`)
			article.promotion__banner__info
				.promotion__banner__info__container
					.promotion__banner__info__wrap
						.promotion__banner__info__title
							h2 Posadas del Inca Yucay
						.promotion__banner__info__description
							p 30% de Descuento  en el Almuerzo Buffet Criollo Marino y Cena Peruana a la Carta.
		.promotion__banner__block
			.promotion__banner__block__content
				.promotion__banner__block__wrap
					.promotion__banner__block__logo
						figure.promotion__banner__block__logo__container
							img(src=`${STATIC_URL}img/promotion__banner__logo.jpg`, width="210", height="42", alt="")
					.promotion__banner__block__circle
						span.promotion__banner__block__circle__text 30%	
	section.promotion__gallery
		.promotion__gallery__content
			article.promotion__gallery__info
				.promotion__gallery__responsive
				.promotion__gallery__list
					ul
						li.promotion__gallery__list__item
							a.promotion__gallery__list__box(href="tel:5116104151")
								span.promotion__gallery__list__icon.icon-cel
								span.promotion__gallery__list__text (511) 610-41-51
						li.promotion__gallery__list__item
							a.promotion__gallery__list__box(href="mailto:reservas@costadelsol.pe")
								span.promotion__gallery__list__icon.promotion__gallery__list__icon--email.icon-correo
								span.promotion__gallery__list__text reservas@costadelsol.pe
						li.promotion__gallery__list__item
							a.promotion__gallery__list__box(href="https://costadelsol.pe", target="_blank")
								span.promotion__gallery__list__icon.icon-mundo
								span.promotion__gallery__list__text costadelsol.pe
				.promotion__gallery__box
					ul
						li.promotion__gallery__box__item
							.promotion__gallery__box__wrap
								.promotion__gallery__box__title
									span.promotion__gallery__box__title__icon.icon-pin
									.promotion__gallery__box__title__text
										h3 Ubicación
								.promotion__gallery__box__description
									p Calle Chinchón 938, San isidro
						li.promotion__gallery__box__item
							.promotion__gallery__box__wrap
								.promotion__gallery__box__title
									span.promotion__gallery__box__title__icon.icon-reloj
									.promotion__gallery__box__title__text
										h3 Vigencia
								.promotion__gallery__box__description
									p Desde el 15 de Junio de 2016 hasta el 31 de Enero de 2018
				.promotion__gallery__share
					span.promotion__gallery__share__text Compártelo en
					ul.promotion__gallery__share__items
						li.promotion__gallery__share__item
							a(href="").promotion__gallery__share__icon.icon-social-facebook
						li.promotion__gallery__share__item
							a(href="").promotion__gallery__share__icon.icon-youtube
						li.promotion__gallery__share__item
							a(href="").promotion__gallery__share__icon.icon-social-twitter
			.promotion__gallery__slider
				ul.promotion__gallery__pitcher
					-for (var i = 0; i < 2; i++)
						li.promotion__gallery__slider__item
							figure.promotion__gallery__slider__image
								img(src=`${STATIC_URL}img/promotion__galeria__img--1.jpg`, width="681", height="421", alt="")

//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script.
		$(()=>{
			//code here ------
			//- clone element banner
			$('.promotion__banner__block__logo__container').clone().appendTo('.promotion__gallery__responsive').removeClass('promotion__banner__block__logo__container').addClass('promotion__gallery__responsive__image');
			$('.promotion__banner__block__circle__text').clone().appendTo('.promotion__gallery__responsive').removeClass('promotion__banner__block__circle__text').addClass('promotion__gallery__responsive__text');
			
			//- slider slik
			$('.promotion__gallery__pitcher').slick({
				autoplay: true,
				autoplaySpeed: 4000,
				slidesToShow: 1,
				slidesToScroll: 1,
				dots: false
			});
		})