extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/tooltipster-master/tooltipster.bundle.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/tooltipster-master/tooltipster-sideTip-light.min.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.promociones
		.promociones__header__content
			.promociones__header__box
				.promociones__box-barra1.promociones__box-barra--no-border
					.promociones__box-barra__title__left
					.promociones__box-barra__barra--right
							ul
								li
									a.btn.btn-enlace.btn-orange.promociones--margintop( href='/nueva-promocion.html') CREAR PROMOCIÓN
								li.promociones--img-logo-header(style=`background-image: url('${STATIC_URL}img/logo-sonesta.jpg');`)
			.promociones__box__mensaje.promociones__box__mensaje--red
				p
					| Tu membresía ha expirado, 
					strong renuévala aquí
		.promociones__content
			.promociones__box__middle
				.promociones__box-barra1.promociones__box-barra--padding-43px
					.promociones__box-barra__title__left
						.promociones__parrafo__group
							.promociones__parrafo__titulo
								p
									| Bienvenido, 
									strong.promociones__strong--txt--orange SONESTA S.A.C
							.promociones__parrafo__texto 
								strong.promociones__strong--txt--grey Tu membresía vence en
									span  29 días 
					.promociones__box-barra__barra--right
				.promociones__box-barra1.promociones__box-barra--margin-top
					table.promociones-table
						thead.promociones-table__head
							tr.promociones-table__tr--border2px.promociones-table__tr--height.promociones-table__tr1-font-family
								th.promociones-table__tr--width.promociones-table__tr--padding-left-right Promoción
								th.promociones-table__tr--width.promociones-table__tr--padding-left-right Estado
								th.promociones-table__tr--width.promociones-table__tr--padding-left-right Ubicación
								th.promociones-table__tr--padding-left-right Visibilidad
								th.promociones-table__tr--padding-left-right
						tbody
							tr.promociones-table__tr--border1px.promociones-table__tr--height.promociones-table__tr2-font-family
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right 50% DE DESCUENTO
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right Vigente
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right Lima, Perú
								td.promociones-table__tr--padding-left-right
									//- input(type='checkbox', name='', value='')
									.col.n-12
										.r-check3
											input#checkbox1(type='checkbox')
											label(for='checkbox1')
												<span class="r-check-ok">Si</span>
												<span class="r-check-no">No</span>
								td.box-icon-content.promociones__width--iconos
									ul
										li(title="Previsualizar").tooltips.box-icon__detalles.icon-eye.promociones-table--icono-margin-left
										li(title="Eliminar").tooltips.box-icon__detalles.icon-eliminar.promociones-table--icono-margin-left
										li(title="Nuevo").tooltips.box-icon__detalles.icon-cuadros.promociones-table--icono-margin-left
										li(title="Editar").tooltips.box-icon__detalles.icon-libreta.promociones-table--icono-margin-left
							tr.promociones-table__tr--border1px.promociones-table__tr--height.promociones-table__tr2-font-family
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right 3x2
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right Caducada
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right Arequipa, Perú
								td.promociones-table__tr--padding-left-right 
									//- input(type='checkbox', name='', value='')
									.col.n-12
										.r-check3
											input#checkbox2(type='checkbox')
											label(for='checkbox2')
												<span class="r-check-ok">Si</span>
												<span class="r-check-no">No</span>
									//- |  No
								td.box-icon-content.promociones__width--iconos
									ul
										li(title="Previsualizar").tooltips.box-icon__detalles.icon-eye.promociones-table--icono-margin-left
										li(title="Eliminar").tooltips.box-icon__detalles.icon-eliminar.promociones-table--icono-margin-left
										li(title="Nuevo").tooltips.box-icon__detalles.icon-cuadros.promociones-table--icono-margin-left
										li(title="Editar").tooltips.box-icon__detalles.icon-libreta.promociones-table--icono-margin-left
							tr.promociones-table__tr--height.promociones-table__tr2-font-family
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right GRATIS
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right Vigente
								td.promociones-table__tr--width.promociones-table__tr--padding-left-right Bogotá, Colombia
								td.promociones-table__tr--padding-left-right 
									//- input(type='checkbox', name='', value='')
									.col.n-12
										.r-check3
											input#checkbox3(type='checkbox')
											label(for='checkbox3')
												<span class="r-check-ok">Si</span>
												<span class="r-check-no">No</span>
									//- |  No
								td.box-icon-content.promociones__width--iconos 
									ul
										li(title="Previsualizar").tooltips.box-icon__detalles.icon-eye.promociones-table--icono-margin-left
										li(title="Eliminar").tooltips.box-icon__detalles.icon-eliminar.promociones-table--icono-margin-left
										li(title="Nuevo").tooltips.box-icon__detalles.icon-cuadros.promociones-table--icono-margin-left
										li(title="Editar").tooltips.box-icon__detalles.icon-libreta.promociones-table--icono-margin-left
			

						
//- js
append scripts
	script(src=`${STATIC_URL}js/tooltipster-master/tooltipster.bundle.min.js`)
	script.
		$(()=>{
			//- tooltip
			 $('.tooltips').tooltipster({
				animation: 'fade',
				delay: 100,
				theme: 'tooltipster-light'
			});
		})
	