.ajustes
	margin: 0 auto
	background-color: #f7f9fa
.ajustes__content
	max-width: 1350px
	width: 100%
	margin: 0 auto
.ajustes__header__content
	background-color: $blanco
	width: 100%
.ajustes__header__box
	width: 100%
	height: auto
	max-width: 1600px
	margin: 0 auto

.ajustes__box-barra1
	padding: 25px 45px
	width: 100%
	border: solid 1px #eaf0f4
	background-color: $blanco
	border-radius: 10px
	box-sizing: border-box
	display: flex
	flex-direction: row
	justify-content: space-between
	align-self: center
	margin: 0 auto

.ajustes__box__middle
	margin: 0 auto
	padding-top: 54px
	padding-bottom: 54px
	max-width: 1150px

.ajustes__box-barra--no-border
	border: none
	border-radius: 0px

.ajustes__box-barra__title__left
	padding: 13px 0
	font-family: $t-2
	font-size: 16px
	color: $c-1
	p, span, small, strong, h1, h2, h3, h4, h5, h6
		margin: 0
.ajustes__box-barra__barra--right
	ul
		li
			margin-left: 15px
			display: inline-block
.ajustes--img-logo-header
	width: 158px
	height: 35px
.ajustes--margintop
	margin-top: -18px
.ajustes__box-barra2
	padding: 45px
	width: 100%
	border: solid 1px #eaf0f4
	background-color: $blanco
	border-radius: 10px
	box-sizing: border-box
	margin: 0 auto
.ajustes__box--margin-top-26
	margin-top: 26px
.ajustes__box__title
	font-family: $t-2
	font-size: 16px
	color: $c-1
	padding-bottom: 25px
	p, span, small, strong, h1, h2, h3, h4, h5, h6
		margin: 0
.ajustes__box__linear
	position: relative
	padding-bottom: 30px
	&:before
		content: ''
		width: 330px
		height: 1px
		background-color: $c-0
		position: absolute
		background-color: #f3f3f3
.ajustes__box__linear--left
	&:before
		left: 0
.ajustes__box__content
	width: 100%
	font-family: $t-2
	font-size: 16px
	color: $c-0
	display: flex
	flex-direction: row
	flex-wrap: no-wrap
	justify-content: space-between
	// align-items: stretch
.ajustes__box__content--ul
	max-width: 378px
	width: 100%
	height 160px
.ajustes__box__content--ul-width
	max-width: 220px
.ajustes--li
	position: relative
	margin-top: 33px
	padding-bottom: 21px
	margin-left: 0
.ajustes--label
	position: absolute
	left: 0px
	top: -33px	
.ajustes__box--sube-tu-logo
	max-width: 220px
	height: 94px
	margin-top: 18px
.ajustes__box__content--ul-3
	width: 100%
.ajustes__ul--display-inline
	display: flex
	flex-direction: row
	flex-wrap: no-wrap
	justify-content: space-between
.ajustes--li--width-full
	width: 30%
@media screen and (max-width: 1366px)
	.ajustes--li
		margin-left: 10px

@media screen and (max-width: 1360px)
	.ajustes__box__middle
		width: 90%
	.ajustes__box--sube-tu-logo
		width: 80%
	.ajustes__box__content--ul
		width: 90%
	.ajustes__box__content--ul-width
		width: 90%
	.ajustes__box__content--ul-padding-rigth
		padding-right: 40px
	.ajustes--li
		margin-left: 0px