.nueva-promocion
	margin: 0 auto
	background-color: #f7f9fa
.nueva-promocion__content
	max-width: 1200px
	width: 100%
	margin: 0 auto
	padding-bottom: 40px
.nueva-promocion__header__content
	background-color: $blanco
	width: 100%
.nueva-promocion__header__box
	width: 100%
	height: auto
	max-width: 1600px
	margin: 0 auto

.nueva-promocion__input
	box-sizing: border-box
.nueva-promocion__barra--right
	ul
		li
			margin-left: 15px
			display: inline-block
.nueva-promocion__iconos--margin-left
	ul
		li
			margin-left: 11px
			display: inline-block
.nueva-promocion--img-logo-header
	width: 158px
	height: 35px
.nueva-promocion--margintop
	margin-top: -18px
.nueva-promocion__box-barra1
	padding: 25px 45px
	width: 100%
	border: solid 1px #eaf0f4
	background-color: $blanco
	border-radius: 10px
	box-sizing: border-box
	position: relative
.nueva-promocion--span-line
	position: relative
	&:before
		content: ''
		width: 87%
		height: 1px
		background-color: $c-0
		position: absolute
		background-color: #f3f3f3
		top: 58px
.nueva-promocion--flex
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: no-wrap
.nueva-promocion__content-input-contrasena
	padding-top: 25px
	ul
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: no-wrap
		position: relative
		li
			width: 100%
			position: relative
			margin-top: 10px
			label
				position: absolute
				left: 0px
				top: -30px
		:nth-child(1)
			padding-right: 40px
			width: 160%

.nueva-promocion__box-barra--no-border
	border: none
	border-radius: 0px
.nueva-promocion__box__mensaje
	width: 100%
	height: 60px
	text-align: center
	padding-top: 20px
	box-sizing: border-box
	color: $blanco
	font-family: $t-0
	font-size: 19px
.nueva-promocion__box__mensaje--green
	background-color: green
.nueva-promocion__box__mensaje--red
	background-color: red
.nueva-promocion__box__mensaje
	p
		strong
			font-weight: normal
			font-family: $t-3
.nueva-promocion--margin-top
	padding-top: 13px
	input
		margin-top: 18px


.nueva-promocion__box--margin-top-26
	margin-top: 26px
.nueva-promocion__box__content
	// width: 100%
	font-family: $t-2
	font-size: 16px
	color: $c-0
	display: flex
	flex-direction: row
	flex-wrap: no-wrap
	justify-content: space-between
.nueva-promocion__box__content--ul-3
	width: 100%
	display: flex
	flex-direction: row
	flex-wrap: no-wrap
	justify-content: space-between

.nueva-promocion--li
	position: relative
	margin-top: 33px
	background-color: red
	width: 100%
.nueva-promocion__content__boxes
	width: 100%
	height: auto
	display: flex
	flex-direction: row
	justify-content: space-between
	align-self: center
.nueva-promocion__box-left--categoria
	width: 60%
	height: auto
	padding-right: 30px

.nueva-promocion__categoria-ul
	margin-top: 10px
.nueva-promocion__categoria-ul
	li:nth-child(2)
		margin-top: 20px
	li:nth-child(3)
		margin-top: 20px
	li:nth-child(4)
		margin-top: 20px
	li:nth-child(5)
		margin-top: 20px
	input
		margin-top: 15px
.nueva-promocion__categoria--icon-top
	margin-top: 15px
.nueva-promocion--icon-height
	font-size: 13px
.nueva-promocion__box-right--imagenes
	width: 100%
	height: auto
.nueva-promocion--display-block
	display: block
.nueva-promocion__calendar-input-group
	position: relative
.nueva-promocion__calendar-group
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
.nueva-promocion__calendar-input-padding-lef
	padding-left: 9px
.input--width-calendar
	width: 100%
	margin-top: 0
.input--calendar-padding-cero
	padding-left: 15px
.nueva-promocion--icon-calendar
	right: 16px
.nueva-promocion__box-left__imagenes-agregar, .nueva-promocion__box-right__video-agregar
	height: auto
	display: inline-block
	vertical-align: top
	margin-top: 30px
.nueva-promocion__box-left__imagenes-agregar
	width: 54%
	padding-right: 30px
	box-sizing: border-box
.nueva-promocion__box-right__video-agregar
	width: 45%
.nueva-promocion--btn-box-sizing-full
	box-sizing: border-box
	width: 100%

// subir img
.r-file
	position: relative
	label
		display: block
		position: relative
		width: 100%
		box-sizing: border-box
		border: none
		border-radius: 0
		border-radius: 4px
		appearance: none
		margin-bottom: 0
	input[type="file"]
		display: none
	&.r-file2
		text-align: center
		label
			border: 1px dashed #999
		.file-icon
			font-size: 25px
			margin-bottom: 4px
		.file-text
			// height: 149px
			font-weight: normal
			font-size: 14px
			p
				margin: 0
				line-height: 1.5
				color: #999
			strong
				display: block
				color: $c-1
				font-weight: normal
			span
				display: block
 .file-input-table
	display: table-cell
	vertical-align: middle
	height: 145px
	width: 2000px

.caja-padre
	padding-top: 30px
	padding-bottom: 30px
	box-sizing: border-box
	height: auto

// fin subir img

.nueva-promocion__box-right__video-agregar
	ul
		li:nth-child(2)
			margin-top: 14px
		li:nth-child(3)
			margin-top: 14px
		li:nth-child(4)
			margin-top: 14px
			float: right
.nueva-promocion__box-right__box-ordenar
	width: 100%
	background-color: $blanco
	box-sizing: border-box
	padding-top: 48px
.nueva-promocion__box-right--span-line-ordenar
	position: relative
	&:before
		content: ''
		width: 100%
		height: 1px
		background-color: $c-0
		position: absolute
		background-color: #f3f3f3
.nueva-promocion__box-right--padding-top
	padding-top: 23px
.nueva-promocion__box-mapa-ubicacion
	width: 100%
	height: 240px
	margin-top: 25px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	border-bottom: solid 16px $blanco
.nueva-promocion__box-right-ordenar-content-img-video
	width: 100%
	height: auto
	margin-top: 12px
	display: flex
	flex-direction: row
	justify-content: space-between
	align-self: center

.nueva-promocion__box-left-ordenar-img
	height: 155px
	width: 265px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	float: left
	margin-right: 5px
	margin-top: 4px
	padding-bottom: 5px
.nueva-promocion__box-right-ordenar-img
	height: 74px
	width: 118px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	float: left
	margin-right: 5px
	margin-top: 4px
	padding-bottom: 4px
	&:nth-child(1)
		height: 155px
		width: 265px
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		float: left
		margin-right: 5px
		margin-top: 4px
		padding-bottom: 5px
.video-disable
	opacity: 0.7
	pointer-events: none
	z-index: -1
.mapcontacto
	width: 100%
	.map
		width: 100%
		height: 240px
.sortable__hover
	position: relative
	&::before
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, 0.28)
		position: absolute
		left: 0
		right: 0
		opacity: 1
		content: '\e601'
		font-family: $icomoon
		font-size: 55px
		color: $c-0
		text-align: center
		color: $blanco
		transition: all 450ms ease
		padding-top: 50px
		box-sizing: border-box
		cursor: pointer
	&:hover
		&::before
			// opacity: 1
.sortable__hover
	position: relative
	&::after
		opacity: 0
		content: '\e909'
		font-family: $icomoon
		font-size: 25px
		color: $c-0
		text-align: center
		color: $blanco
		bottom: 10px
		right: 10px
		transition: all 450ms ease
		position: absolute
		cursor: pointer

	&:hover
		&::after
			opacity: 1
		

@media screen and (max-width: 1268px)
	.nueva-promocion__content
		width: 90%
	.nueva-promocion__box-left__imagenes-agregar, .nueva-promocion__box-right__video-agregar
		display: block
		width: 100%
		padding-right: 0
	.nueva-promocion__box-right__video-agregar
		ul
			li:nth-child(4)
				float: none
	.nueva-promocion__box-right__box-ordenar
		padding-top: 28px
	.nueva-promocion__calendar-group
		flex-direction: column
	.nueva-promocion__calendar-input-padding-lef
		padding-left: 0
@media screen and (max-width: 1024px)
	.nueva-promocion__calendar-input-group
		input
			width: 100%
			padding-left: 0
			font-size: 14px
		.nueva-promocion--icon-calendar
			right: 5px
		.input__white
			padding-right: 0


.nueva__promocion__inside__select
	position: relative
	.select2-container
		width: 100% !important
	.select2-container--default .select2-selection--single
		height: 40px !important
		line-height: 40px !important
		border: 1px solid #f3f3f3 !important
		color: #f3f3f3 !important
		font-family: $t-0 !important
	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 40px !important
		padding-left: 40px
	.icon-cel--modificador
		z-index: 3
		pointer-events: none
	.nueva-promocion__categoria--icon-top
		margin-top: 0 !important
	.select2-container--default .select2-selection--single .select2-selection__arrow
		display: none !important

.nueva__promocion__change
	.box-barra__title__left
		margin-bottom: 15px
		display: block

.select2-dropdown
	border: 1px solid #f3f3f3 !important
	border-top: none !important
	padding: 10px 4px !important

.select2-container--default .select2-search--dropdown .select2-search__field
	border: 1px solid #f3f3f3 !important
	font-family: $t-0 !important
	color: $c-0 !important
	padding: 8px !important

.select2-results__option
	font-family: $t-0
	color: $c-0 !important

.select2-container--default .select2-results__option--highlighted[aria-selected]
	color: white !important
	background: $c-3 !important

.select2-search--dropdown
	padding-bottom: 10px

.tooltip_templates
	display: none

.tooltipster-content
	padding: 5px !important
	// background: $c-3 !important
	font-family: $t-0 !important
	// color: white !important
	font-size: 13px

.tooltipster-light
	border: none !important
	box-shadow: none !important

// .tooltipster-arrow-border
// 	border-color: rgb(255,157,0) !important

// .tooltipster-arrow-top span
// 	border-color: rgb(255,157,0) !important
// 	border-left: 8px solid transparent !important
// 	border-right: 8px solid transparent !important
// 	border-bottom: 8px solid !important