.promotion__gallery__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	max-width: 1240px
	width: 100%
	box-sizing: border-box
	padding: 0 20px
	margin: auto
.promotion__gallery__info
	width: 43.1%
	box-sizing: border-box
	padding: 0 30px
	padding-top: 40px
	padding-bottom: 30px
	margin: 0
.promotion__gallery__list
	margin-bottom: 35px
.promotion__gallery__list__item
	margin-bottom: 25px
	&:last-child
		margin-bottom: 0
.promotion__gallery__list__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	font-size: 20px
.promotion__gallery__list__icon
	display: block
	width: 25px
	color: $c-2
	text-align: center
	margin: 0
	&:before
		color: inherit
.promotion__gallery__list__icon--email
		font-size: 15px
.promotion__gallery__list__text
	display: block
	width: calc(100% - 25px)
	line-height: 1
	color: $c-5
	font-family: $t-0
	font-size: 18px
	box-sizing: border-box
	padding-left: 10px
	margin: 0
.promotion__gallery__box
	margin-bottom: 35px
.promotion__gallery__box__item
	margin-bottom: 30px
	&:last-child
		margin-bottom: 0
.promotion__gallery__box__title
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	margin-bottom: 10px
.promotion__gallery__box__title__icon
	display: block	
	width: 25px
	color: $c-3
	font-size: 22px
	text-align: center
	margin: 0
	&:before
		color: inherit
.promotion__gallery__box__title__text
	width: calc(100% - 25px)
	box-sizing: border-box
	padding-left: 10px
	h3
		color: $c-3
		font-family: $t-3
		font-size: 18px
		margin-bottom: 0
.promotion__gallery__box__description
	line-height: 1.2
	color: $c-5
	font-family: $t-0
	font-size: 15px
	padding-left: 35px
	p
		margin-bottom: 0
.promotion__gallery__share
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
.promotion__gallery__share__text
	display: block
	line-height: 1
	color: $c-5
	font-family: $t-3
	font-size: 14px
	margin: 0
	margin-right: 15px
.promotion__gallery__share__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	margin: 0
.promotion__gallery__share__item
	margin: 0
	margin-right: 20px
	&:last-child
		margin-right: 0
.promotion__gallery__share__icon
	display: block
	line-height: 1
	color: #cccecf
	font-size: 20px
	margin: 0
.promotion__gallery__slider
	width: 56.9%
	.slick-prev,
	.slick-next
		width: 42px
		height: 36px
		background: $c-3
		color: $blanco
		top: auto
		bottom: 0
		z-index: 2
		transform: none
		&:before
			font-family: $icomoon
			font-size: 15px
	.slick-prev
		left: auto
		right: 42px
		&:before
			content: "\e90e"
	.slick-next
		right: 0
		&:before
			content: "\e90f"
.promotion__gallery__slider__image
	width: 100%
	img
		display: block
		width: 100%
		height: auto
.promotion__gallery__responsive
	display: none
	flex-direction: row
	flex-wrap: wrap
	align-items: center
.promotion__gallery__responsive__image
	max-width: 210px
	width: 100%
	margin: 0
	margin-right: 15px
	img
		display: block
		width: 100%
		height: auto
.promotion__gallery__responsive__text
	display: block
	line-height: 1
	color: $c-5
	font-family: $t-2
	font-size: 24px
	margin: 0

// responsive
@media screen and (max-width: 1024px)
	.promotion__gallery__info
		padding-bottom: 20px
	.promotion__gallery__list
		margin-bottom: 25px
	.promotion__gallery__list__item
		margin-bottom: 15px
	.promotion__gallery__box
		margin-bottom: 25px
	.promotion__gallery__box__title
		margin-bottom: 5px
	.promotion__gallery__box__item
		margin-bottom: 15px

@media screen and (max-width: 960px)
	.promotion__gallery
		padding-bottom: 40px
	.promotion__gallery__responsive
		display: flex
		margin-bottom: 40px
	.promotion__gallery__responsive__text
		width: 60px
		height: 60px
		line-height: 60px
		background: $c-3
		color: $blanco
		font-family: $t-2
		font-size: 22px
		text-align: center
		border-radius: 50%
	.promotion__gallery__info
		width: 47%
		padding-top: 0
		padding-left: 0
		padding-bottom: 0
	.promotion__gallery__slider
		width: 53%

@media screen and (max-width: 767px)
	.promotion__gallery__content
		padding: 0 15px
	.promotion__gallery__responsive
		justify-content: center
	.promotion__gallery__content
		flex-direction: column
	.promotion__gallery__info
		max-width: 480px
		width: 100%
		padding-right: 0
		margin-left: auto
		margin-right: auto
		margin-bottom: 40px
	.promotion__gallery__slider
		max-width: 480px
		width: 100%
		margin: auto

@media screen and (max-width: 480px)
	.promotion__gallery__responsive
		flex-direction: column
	.promotion__gallery__responsive__image
		margin-right: 0
		margin-bottom: 10px