.promociones
	margin: 0 auto
	background-color: #f7f9fa
.promociones__content
	max-width: 1200px
	width: 100%
	margin: 0 auto
.promociones__header__content
	background-color: $blanco
	width: 100%
.promociones__header__box
	width: 100%
	height: auto
	max-width: 1600px
	margin: 0 auto
.promociones__box__middle
	margin: 0 auto
	padding-top: 40px
	padding-bottom: 54px
	max-width: 1150px

.promociones__box-barra__title__left
	padding: 13px 0
	font-family: $t-2
	font-size: 16px
	color: $c-1
	p, span, small, strong, h1, h2, h3, h4, h5, h6
		margin: 0

.promociones--img-logo-header
	width: 158px
	height: 35px
.promociones--margintop
	margin-top: -18px
.promociones__box-barra1
	padding: 25px 45px
	width: 100%
	border: solid 1px #eaf0f4
	background-color: $blanco
	border-radius: 10px
	box-sizing: border-box
	display: flex
	flex-direction: row
	justify-content: space-between
	align-self: center
	margin: 0 auto
	p
		font-size: 24px
		font-family: $t-2
.promociones__box-barra--no-border
	border: none
	border-radius: 0px
.promociones__strong--txt--orange
	font-size: 27px
	color: $c-3
	font-weight: normal
	font-family: $t-3
.promociones__strong--txt--grey
	display: block
	font-size: 16px
	font-weight: normal
	font-family: $t-0
.promociones__parrafo__texto
	padding-top: 5px 
	strong
		span
			font-family: $t-2
			font-weight: bold
			font-size: 16px
.promociones__box-barra2
	padding: 45px
	width: 100%
	border: solid 1px #eaf0f4
	background-color: $blanco
	border-radius: 10px
	box-sizing: border-box
	margin: 0 auto
.promociones__box--margin-top-26
	margin-top: 26px
.promociones__box__title
	font-family: $t-2
	font-size: 16px
	color: $c-1
	padding-bottom: 25px
	p, span, small, strong, h1, h2, h3, h4, h5, h6
		margin: 0
.promociones__box__linear
	position: relative
	padding-bottom: 30px
	&:before
		content: ''
		width: 330px
		height: 1px
		background-color: $c-0
		position: absolute
.promociones__box__linear--left
	&:before
		left: 0
.promociones__box__content
	width: 100%
	font-family: $t-2
	font-size: 16px
	color: $c-0
	display: flex
	flex-direction: row
	flex-wrap: no-wrap
	justify-content: space-between
.promociones__box__content--ul
	max-width: 378px
	width: 100%
	height 160px
.promociones__box__content--ul-width
	max-width: 220px
.promociones--li
	position: relative
	margin-top: 33px
	padding-bottom: 21px
.promociones--label
	position: absolute
	left: 0px
	top: -33px	
.promociones__box--sube-tu-logo
	max-width: 220px
	height: 94px
	border: solid 1px grey
	margin-top: 18px
.promociones__box__content--ul-3
	width: 100%
.promociones__ul--display-inline
	display: flex
	flex-direction: row
	flex-wrap: no-wrap
	justify-content: space-between
.promociones--li--width-full
	width: 30%
.promociones__box__mensaje
	width: 100%
	height: 60px
	text-align: center
	padding-top: 20px
	box-sizing: border-box
	color: $blanco
	font-family: $t-0
	font-size: 19px
.promociones__box__mensaje--green
	background-color: green
.promociones__box__mensaje--red
	background-color: red
.promociones__box__mensaje
	p
		strong
			font-weight: normal
			font-family: $t-3

.promociones__box-barra--margin-top
	margin-top: 30px

.promociones__box-barra--padding-43px
	padding: 43px 45px	
	
//  title
.promociones__box-barra__title__left
	padding: 13px 0
	font-family: $t-2
	font-size: 16px
	color: $c-1
	p, span, small, strong, h1, h2, h3, h4, h5, h6
		margin: 0
.promociones__box-barra__barra--right
	ul
		li
			margin-left: 15px
			display: inline-block

//  table

.promociones-table
	width: 100%
	text-align: left
	color: $c-0
.promociones-table__tr--padding-left-right
	padding-left: 22px
	padding-right: 22px
.promociones-table__tr--height
	height: 84px
.promociones-table__tr--border2px
	border-bottom: solid 2px #e6e6e6
.promociones-table__tr--border1px
	border-bottom: solid 1px #e6e6e6
.promociones-table__tr1-font-family
	font-family: 	$t-2
.promociones-table__tr2-font-family
	font-family: $t-0
.promociones-table__tr--width
	width: 250px
	padding-top: 20px
	font-size: 14px
	padding-bottom: 20px
.promociones__width--iconos
	width: 450px
.promociones-table--icono-margin-left
	margin-left: 2px
	margin-right: 2px
	margin-top: 5px
.box-icon-content 
	ul
		float: right
		padding-right: 22px

// checkbox

.col.n-12
	text-align: left
.col
	position: relative
	// padding: 0 0 2rem 2rem
.r-check3
	display: inline-block
.r-check3 input[type="checkbox"]
	display: none
.r-check3 label
	width: 25px
	height: 11px
	background: #ececec
	border-radius: 1rem
	position: relative
	transition: all 0.25s ease-in-out
	margin-bottom: 0
label, legend
	display: block
	margin-bottom: 0.5rem
	font-weight: 600
label
	cursor: pointer
.r-check3 label:before
	content: ""
	display: block
	width: 15px
	height: 15px
	background: #9c9b9b
	position: absolute
	top: -2px
	left: -3px
	border-radius: 100%
	transition: all 0.25s ease-in-out
.r-check3
	input[type="checkbox"]:checked + label
		background: #06aaf2
		&:before
			left: 16px
			background: #0172bb
	input[type="checkbox"]:checked + label .r-check-ok
		opacity: 1
		visibility: visible
	input[type="checkbox"]:checked + label .r-check-no
		opacity: 0
		visibility: hidden
.r-check-no
	display: block
	position: absolute
	right: -100%
	top: -1px
	transition: all 0.25s ease-in-out
	font-size: 14px
.r-check-ok
	display: block
	position: absolute
	right: -100%
	top: -1px
	opacity: 0
	visibility: hidden
	transition: all 0.25s ease-in-out
	font-size: 14px

// checkbox fin

@media screen and (max-width: 1220px)
	.promociones__box__middle
		width: 90%
	.promociones__box--sube-tu-logo
		width: 80%
	.promociones__box__content--ul
		width: 90%
	.promociones__box__content--ul-width
		width: 90%
	.promociones__box__content--ul-padding-rigth
		padding-right: 40px
	.box-icon-content 
		ul
			float: right
			padding-right: 0
@media screen and (max-width: 1050px)
	.promociones-table__tr--padding-left-right
		padding-left: 0
