.promotion__banner__main
	width: 100%
	height: 256px
	position: relative
.promotion__banner__image
	width: 100%
	height: 100%
	position: relative
	&:before
		content: ""
		width: 100%
		height: 100%
		background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%)
		position: absolute
		top: 0
		left: 0
		z-index: 2
.promotion__banner__image__container
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
.promotion__banner__info
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 2
.promotion__banner__info__container
	display: flex
	flex-direction: column
	justify-content: flex-end
	max-width: 1240px
	width: 100%
	height: 100%
	box-sizing: border-box
	padding: 0 20px
	margin: auto
.promotion__banner__info__wrap
	padding-left: 517px
	padding-bottom: 20px
.promotion__banner__info__title
	margin-bottom: 10px
	h2
		color: $blanco
		font-family: $t-3
		font-weight: normal
		font-size: 36px
		margin-bottom: 0
.promotion__banner__info__description
	line-height: 1.2
	color: $blanco
	font-family: $t-0
	font-size: 16px
	p
		margin-bottom: 0
.promotion__banner__block
	position: relative
	z-index: 2
	margin-top: -120px
.promotion__banner__block__content
	max-width: 1240px
	width: 100%
	box-sizing: border-box
	padding: 0 20px
	margin: auto
.promotion__banner__block__wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
.promotion__banner__block__logo
	display: flex
	flex-direction: column
	justify-content: center
	width: 284px
	height: 141px
	background: $blanco
	border-radius: 70px
	box-shadow: 3px 5px 6px 0px  rgba(0,0,0,.1)
	margin-right: 40px
.promotion__banner__block__logo__container
	width: 210px
	margin: 0 auto
	img
		display: block
		width: 100%
		height: auto
.promotion__banner__block__circle
	display: flex
	flex-direction: column
	justify-content: center
	width: 150px
	height: 150px
	background: $c-3
	border-radius: 50%
.promotion__banner__block__circle__text
	display: block
	width: 100%
	line-height: 1
	color: $blanco
	font-family: $t-2
	font-size: 45px
	text-align: center
	margin: 0

// responsive
@media screen and (max-width: 1024px)
	.promotion__banner__info__wrap
		padding-left: 445px
	.promotion__banner__block
		margin-top: -95px
	.promotion__banner__block__logo
		width: 250px
		height: 100px
		margin-right: 30px
	.promotion__banner__block__circle
		width: 115px
		height: 115px
	.promotion__banner__block__circle__text
		font-size: 42px

@media screen and (max-width: 960px)
	.promotion__banner
		padding-bottom: 40px
	.promotion__banner__info__wrap
		text-align: center
		padding-left: 0
	.promotion__banner__block
		display: none		

@media screen and (max-width: 767px)
	.promotion__banner__main
		height: 200px
	.promotion__banner__info__title h2
		font-size: 30px
	.promotion__banner__info__description
		font-size: 14px