.promocion__detail__wrap
	padding-bottom: 40px

.promocion__detail__container
	max-width: 1240px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	display: flex
	align-items: center
	flex-wrap: wrap 
	flex-direction: row-reverse
	height: 475px

.promocion__detail__map
	width: 43.1%
	height: 100%

.map__general__container__box
	height: 100%

.map__general__box
	width: 100%	
	height: 100%
	position: relative
	transition: all .5s linear 
	.map 
		width: 100%	
		height: 100%

.map__general--close--map, .map__general--open--map
	display: none

.map__general--close--map
	position: absolute
	right: 10px
	top: 10px

.promocion__detail__description__item
	margin-bottom: 30px
	&:last-child
		margin-bottom: 0

.promocion__detail__description
	width: 56.9%
	height: 100%
	overflow: auto
	padding: 30px 40px
	box-sizing: border-box

.promocion__detail__subtitle
	display: flex
	align-items: center 
	padding-bottom: 25px
	border-bottom: 1px solid #F2F2F2
	h3 
		margin: 0
		font-size: 18px
		font-family: $t-2
		color: $c-3	

.promocion__detail__icon
	display: block
	margin: 0
	padding-right: 10px
	color: $c-3
	&:before
		color: $c-3
.promocion__detail--icon1
	font-size: 26px
.promocion__detail--icon2
	font-size: 15px

.promocion__detail__text
	padding-top: 20px
	font-size: 16px
	font-family: $t-1
	line-height: 1.3
	p:last-child
		margin: 0

@media screen and (max-width: 768px)
	.map__general__wrap
		position: relative
		
	.map__general__box
		position: fixed
		top: -200%
		left: 0
		height: 100%
		z-index: 2000
		&.active
			top: 0
	
	.map__general--close--map, .map__general--open--map
		display: inline-block

	.promocion__detail__description
		width: 100%
		padding: 0

	.promocion__detail__map
		width: 100%
		text-align: center
		padding: 30px 0	0 0

	.promocion__detail__container
		height: auto
	

// descuentos
.promocion__descuentos__wrap
	padding-bottom: 35px
.promocion__descuentos__container
	max-width: 1280px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box

.promociones__subtitle
	padding: 0 33px 
	box-sizing: border-box
	margin-bottom: 45px
	h3 
		font-size: 26px
		color: $c-2
		margin: 0
		font-family: $t-3

.promociones__slider
	.slick-slider
		padding: 0 20px
	.slick-prev
		left: 0
	.slick-next 
		right: 0
	.slick-prev:before, .slick-next:before
		font-family: 'icomoon'
		color: #8E9093
		font-size: 17px
	.slick-prev:before
		content: "\e90e"
	.slick-next:before
		content: "\e90f"

.promociones__item
	display: inline-block
	padding-bottom: 30px
	box-sizing: border-box
	transition: all .25s linear
	border-radius: 15px 15px 0 0
	overflow: hidden

@media screen and (min-width: 1025px)
	.promociones__item:hover
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.14)

.promociones__slider__item
	margin: 0 5px
	padding: 15px 10px 
	box-sizing: border-box

.promociones__item__image
	width: 100%
	height: 165px
	background-position: center center
	background-size: cover 
	background-repeat: no-repeat
	border-radius: 15px 15px 0 0
	overflow: hidden

.promociones__item__info
	text-align: center
	padding: 0 11%

.promociones__item__title
	margin-bottom: 10px
	h3 
		font-size: 18px
		color: $c-4
		font-family: $t-2
		margin: 0

.promociones__item__text
	font-size: 14px
	line-height: 1.2
	p
		margin: 0

.promociones__item__discount
	display: flex
	align-items: center
	justify-content: center
	height: 60px
	margin-top: -30px

.promociones__item__discount__logo
	border: 1px solid #EDEDED
	border-radius: 30px 0 0 30px
	padding: 0 10px 0 30px
	box-sizing: border-box
	height: 100%
	background: $blanco
	img
		display: block
		width: 100%
		height: auto

.promociones__item__discount__promo
	background: $c-2
	border: 1px solid $c-2
	color: $blanco
	display: flex
	align-items: center
	height: 100%
	padding: 0 15px 
	box-sizing: border-box
	border-radius: 0 30px 30px 0
	font-size: 22px
	font-family: $t-3

.promociones__item__info
	margin-top: 25px

.promociones__item__text
	line-height: 1.3
	p 
		margin: 0
		color: #858789

.promociones__item__button
	margin-top: 15px
	.btn-enlace
		width: 138px
		height: 23px
		line-height: 23px
		text-align: center
		padding: 0

.promociones__item__discount--percentage
	.promociones__item__discount__promo
		font-size: 26px

.promociones__item__discount--text
	.promociones__item__discount__promo
		font-size: 22px

.promociones__item__discount--offer
	.promociones__item__discount__promo
		font-size: 26px

@media screen and (max-width: 1024px)
	.promocion__descuentos__wrap
		padding-bottom: 25px
	.promociones__item
		padding-bottom: 0

@media screen and (max-width: 767px)
	.promociones__slider .slick-slider
		padding: 0

	.promociones__slider .slick-prev
		display: none !important

	.promociones__slider .slick-next 
		display: none !important

	.promociones__slider__item
		margin: 0

	.promociones__subtitle
		padding: 0 15px

	.promociones__subtitle
		padding: 0

	.promociones__subtitle
		text-align: center
		h3
			font-size: 20px