extends ./_common/base.pug
//- btn
block content
	section(style="width:1000px")
		.box-barra
			.box-barra__title__left.box-barra__title__left--padding
				p Actualiza tus datos
			.box-barra__barra--right
				ul
					li.btn.btn-enlace.btn-white( href='') CAMBIAR CONTRASEÑA
					li.btn.btn-enlace.btn-skyblue( href='') GUARDAR

		.box-barra
			.box-barra__title__left.box-barra__title__left--padding
				p Editar promoción
			.box-barra__barra--right
				ul
					li.icon-ICONOS-11
					li.icon-ICONOS-11
					li.icon-ICONOS-11|
					li.btn.btn-enlace.btn-skyblue( href='') GUARDAR


		.box-barra.box-barra--padding-43px
			.box-barra__title__left.box-barra__title__left--padding
				p
					| Bienvenido, 
					strong SONESTA S.A.C
					strong Tu membresía vence en 29 días 
			.box-barra__barra--right
				ul
					li
					li

		.box-barra.box-barra--no-border
			.box-barra__title__left
			.box-barra__barra--right
				ul
					li.btn.btn-enlace.btn-orange( href='') CREAR CONTRASEÑA
					li logotipo
