extends ./_common/base.pug
//- btn
block content
	section(style="width:1000px")
		.box__mensaje.box__mensaje--red
			p
				| Tu membresía ha expirado, 
				strong renuévala aquí
		.box__mensaje.box__mensaje--green
			p
				| Promoción Duplicada
				strong 