extends ./_common/base.pug
//- btn
block content


	a.btn-enlace.btn-orange( href='') CREAR PROMOCIÓN
	a.btn-enlace.btn-skyblue( href='') GUARDAR
	a.btn-enlace.btn-white( href='') CAMBIAR CONTRASEÑA
	a.btn-enlace.btn-grey( href='') YOUTUBE


	//- a.btn.btn-productos( href='') 
	//- 	span.text-btn Ver Producto
