extends ./_common/base.pug
//- btn
block content
	section(style="background:gray; height:100vh; padding:50px;box-sizing:border-box")
		.box
			.box__title
				p Imágenes y Videos
			.box__linear.box__linear--left.box__linear--width-full
			.box__content.box__content--flex
				.box.box--no-padding.box--no-border.box--width-100-380
					.box__title
						p Agregar Imagenes
					.box__content
				.box.box--no-padding.box--no-border
					.box__title
						p Agregar Video
					.box__content
						select(name="")
							option(value="") Seleccione
							option(value="youtube") youtube
			.box.box--no-padding.box--no-border.box--padding-top-25px
				.box__linear.box__linear--left.box__linear--width-full.box__linear--top
				.box__title
					p Ordenar
				.box__content
