extends ./_common/base.pug
//- btn
block content
	section(style="width:1000px")
		.box-icon-content
			ul
				li.box-icon__detalles.icon-ICONOS-03
				li.box-icon__detalles.icon-ICONOS-11
				li.box-icon__detalles.icon-ICONOS-12
				li.box-icon__detalles.icon-ICONOS-13
				