extends ./_common/base.pug
//- btn
block content
	section(style="width:1000px")
		form

			input.input__grey(name='', type='', placeholder='prueba')

			.box-input
				span.icon-ICONOS-01.icon-cel--modificador
				input.input__white(name='', type='', placeholder='prueba')

			textarea.textarea(name='', type='', placeholder='prueba')
			
			input.input__white.input__white--calendar(name='', type='date', placeholder='prueba')

			.box-input
				span.icon-ICONOS-03.icon-cel--modificador
				input.input__white(name='', type='', placeholder='prueba')