// BUTTONS
.btn-enlace
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 30px
	display: inline-block
	vertical-align: middle
	transform: perspective(1px) translateZ(0)
	position: relative
	transition-duration: 0.3s
	padding: 13px 28px 13px 28px
	cursor: pointer 

.btn-orange
	background-color: $c-3
	color: $blanco
	border: solid 1px $c-3
.btn-skyblue
	background-color: #00b3e3
	color: $blanco
	border: solid 1px #00b3e3
.btn-grey
	background-color: #adadad
	color: $blanco
	border: solid 1px #adadad
.btn-white
	background-color: $blanco
	color: #9c9b9b
	border: solid 1px #9c9b9b

@media screen and (min-width: 1025px)
	.btn-orange	
		&:hover
			background-color: $blanco
			color: $c-3
	.btn-skyblue	
		&:hover
			background-color: $blanco
			color: #00b3e3
	.btn-grey
		&:hover
			background-color: $blanco
			color: #adadad
	.btn-white
		&:hover
			background-color: #9c9b9b
			color: $blanco