.box-barra
	padding: 25px 45px
	width: 100%
	border: solid 1px #eaf0f4
	background-color: $blanco
	border-radius: 10px
	box-sizing: border-box
	display: flex
	flex-direction: row
	justify-content: space-between
	align-self: center

.box-barra--no-border
	border: none
	border-radius: none

.box-barra--padding-43px
	padding: 43px 45px	


	
//  title
.box-barra__title__left
	font-family: $t-2
	font-size: 16px
	color: $c-1
	p, span, small, strong, h1, h2, h3, h4, h5, h6
		margin: 0
.box-barra__title__left--padding
	padding: 13px 0
.box-barra__barra--right
	ul
		li
			margin-left: 15px
			display: inline-block

// title modi
.box-barra--font-proximaNova-bold
	font-family: $t-3
.box-barra--font-proximaNova-light
	font-family: $t-1
.box-barra--font-proximaNova-regular
	font-family: $t-0
.box-barra--font-size-20px
	font-size: 20px
.box-barra--color-red
	color: red
.box-barra--text-align-left
	text-align: left
.box-barra--text-align-center
	text-align: center
.box-barra--text-align-right
	text-align: right
.box-barra--no-padding
	padding: 0
.box-barra--padding-buttom-10px
	padding-bottom: 10px
.box-barra--padding-top-25px
	padding-top: 25px
