.box
	padding: 45px
	width: 100%
	border: solid 1px #eaf0f4
	background-color: $blanco
	border-radius: 10px
	box-sizing: border-box
.box--width-100-380
	width: calc(100% - 380px)
.box--no-padding
	padding: 0
.box--padding-top-25px
	padding-top: 25px
.box--border-color-negro
	border-color: $negro
.box--no-border
	border: none
.box--no-border-radius
	border-radius: 0
.box--border-width-2px
	border-width: 2px
.box--background-color-negro
	background-color: $negro
//  title
.box__title
	font-family: $t-2
	font-size: 16px
	color: $c-1
	padding-bottom: 25px
	p, span, small, strong, h1, h2, h3, h4, h5, h6
		margin: 0
// title modi
.box__title--font-proximaNova-bold
	font-family: $t-3
.box__title--font-proximaNova-light
	font-family: $t-1
.box__title--font-proximaNova-regular
	font-family: $t-0
.box__title--font-size-20px
	font-size: 20px
.box__title--color-red
	color: red
.box__title--text-align-left
	text-align: left
.box__title--text-align-center
	text-align: center
.box__title--text-align-right
	text-align: right
.box__title--no-padding
	padding: 0
.box__title--padding-buttom-10px
	padding-bottom: 10px
.box__title--padding-top-25px
	padding-top: 25px
// linear
.box__linear
	position: relative
	padding-bottom: 30px
	&:before
		content: ''
		width: 330px
		height: 1px
		background-color: $c-0
		position: absolute
// linear modi
.box__linear--height-2px
	&:before
		height: 2px
.box__linear--top
	&:before
		top: 0
.box__linear--bottom
	&:before
		bottom: 0
.box__linear--left
	&:before
		left: 0
.box__linear--right
	&:before
		right: 0
.box__linear--width-full
	&:before
		width: 100%
.box__linear--color-red
	&:before
		background-color: red
.box__linear--not-padding
	padding: 0
.box__linear--padding-bottom-10px
	padding-bottom: 10px

// content
.box__content--flex
	display: flex