
.box__mensaje
	width: 100%
	height: 60px
	text-align: center
	padding-top: 20px
	box-sizing: border-box
	color: $blanco
	font-family: $t-0
	font-size: 19px
.box__mensaje--green
	background-color: green
.box__mensaje--red
	background-color: red
.box__mensaje
	p
		strong
			font-weight: normal
			font-family: $t-3