.box-icon__detalles
	background-color: $blanco
	border: solid 1px #b3b3b3
	border-radius: 50px
	width: 33px
	height: 33px
	padding-left: 8px
	padding-top: 7px
	box-sizing: border-box
	display: inline-block
	transition-duration: 0.3s
	cursor: pointer
@media screen and (min-width: 1025px)
	.box-icon__detalles:hover
		background-color: #e2e2e2
		border: solid 1px #e2e2e2


