.input__grey
	box-sizing: border-box
	width: 100%
	background-color: #f3f3f3
	border-radius: 10px
	height: 40px
	border: none
	padding-left: 24px
	padding-right: 24px
	color: #999
	+placeholder(#c6c6c5,$t-0)

.input__white
	box-sizing: border-box
	width: 100%
	background-color: $blanco
	border-radius: 5px
	height: 40px
	padding-left: 35px
	padding-right: 24px
	color: #999
	border: solid 1px #f3f3f3
	+placeholder(#c6c6c5,$t-0)
.box-input
	position: relative
.icon-cel--modificador
	height: 27px
	position: absolute
	padding-top: 12px
	padding-left: 13px
	font-size: 16px
	color: #676868

.textarea
	box-sizing: border-box;
	width: 100%
	background-color: #f3f3f3
	border-radius: 10px
	height: 179px
	border: none
	padding: 21px 24px
	color: #999
	+placeholder(#c6c6c5,$t-0)